{%extends 'base.html'%}

{% block content %}
{{block.super}}

<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
  
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://media.istockphoto.com/photos/trophy-picture-id108353971?b=1&k=20&m=108353971&s=170667a&w=0&h=eDFg3fJemZdBTEAUOu5Y7WRRhTz2Kc3Pdex7uyaVP2c="
         alt="Los Angeles" width="100%"  style="object-fit: cover;height: 600px;">
      </div>
      <div class="carousel-item">
        <img src="https://media.istockphoto.com/photos/golden-trophy-cup-on-dark-background-copy-space-for-text-3d-rendering-picture-id1296652778?b=1&k=20&m=1296652778&s=170667a&w=0&h=guJnyq9Xw1HUsdjZ7wXiKYhlaCdbRUoDxORkS_kt564="
         alt="Chicago" width="100%" style="object-fit: cover;height: 600px;">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTl8fHdlYnNpdGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
         alt="New York" width="100%" style="object-fit: cover;height: 600px;">
      </div>
    </div>
  
    <!-- Left and right controls -->
    <!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a> -->
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  
  </div>


<section class="blog-section" id="posts main">
    <div class="container mt-5" style="gap: 15px;">
        
        <div class="row mt-4" id="">
            {% for pics in images %}
            <div class="col-md-12 col-md-6 col-lg-6" id="main" style="gap: 15px;">
                <div class="card mb-4" id="">
                    <a href="{% url 'project_details' pics.id %}">
                        <img src="{{ pics.image.url }}"class="card-img-top responsive" alt="Personal">
                    </a>
                    <div class="card-body ">
                        <p class="fade-item mb-2">{{ pics.title }}</p>
                        <div class="d-flex justify-content-between location-date">
                            <div>
                                <p class="text-capitalise">{{ pics.location }}</p>
                            </div>
                            <div>
                                <p>{{ pics.post_date|date}}</p>
                                <p>{{ pics.user.bio}}</p>
                                <a href="{{ pics.url }}"><button  class="btn btn-info">{{ pics.title }}</button></a>
                            </div>
                            
                        </div>
                        

                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="profiles">
                            
                <img src="{{pics.profile_photo.url}}" alt="" class="card-img-top">

                
            </div>
        </div>
    </div>
</section>
{% endblock %}