{%extends 'base.html'%}

{% block content %}
{{block.super}}

<h1>good</h1>


<section class="blog-section" id="posts main">
    <div class="container mt-5" style="gap: 15px;">
        
        <div class="row mt-4" id="">
            {% for pics in images %}
            <div class="col-md-12 col-md-6 col-lg-4" id="main" style="gap: 15px;">
                <div class="card mb-4" id="">
                    <a href="{% url 'project_details' pics.id %}">
                        <img src="{{ pics.image.url }}"class="card-img-top responsive" alt="Personal">
                    </a>
                    <div class="card-body ">
                        <p class="fade-item mb-2">{{ pics.title }}</p>
                        <div class="d-flex justify-content-between location-date">
                            <div>
                                <p class="text-capitalise">{{ pics.location }}</p>
                            </div>
                            <div>
                                <p>{{ pics.post_date|date}}</p>
                                <p>{{ pics.user.bio}}</p>
                                <a href="{{ pics.url }}"><button  class="btn btn-info">{{ pics.title }}</button></a>
                            </div>
                            
                        </div>
                        

                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="profiles">
                            
                <img src="{{pics.profile_photo.url}}" alt="" class="card-img-top">

                
            </div>
        </div>
    </div>
</section>
{% endblock %}