<nav class="mt-3 mb-3">
    <div class="navigation">
        <div class="nav1">
            <div class="container-full">
                <div class="navi1 text-center">
                    <p class="ngoso">ENGLISH</p>
                    <p>The awards of design, creativity and innovation on the internet</p>
                    <div class="navicons">
                        <a href=""><i class="fa fa-instagram fa-sm" aria-hidden="true"></i></a>
                        <a href="" class="heading"><i class="fa fa-twitter fa-sm" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-facebook fa-sm" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </nav>
  