h2{
    color: crimson;
}
.navicons{
    display: flex;
    align-items: center;
    gap: 18px;
    
    
}
.navicons a{
    color: black;
}
.navi1{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.navigation{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.07);
}
.nav1{
    
    margin: 0rem 3rem;
}
.ngoso{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: 50;
}
.responsive{
    min-width: 230px;
    max-width: 700px;
    height: 230px;
    object-fit: cover;
    border-radius: 2px;
}

.location-date{
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.07);
}

.phots{
  padding: 10px 15px;
  border: none;
  background-color: deepskyblue;
  color: #fff;
  border-radius: 5px;
}
.first{
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.proj{
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding-bottom: 1rem;
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #fff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.7);
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: rgba(0, 0, 0, 0.9);
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

.card {
    background: #fff none repeat scroll 0 0;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 1px;
    box-shadow: 0 0 11px 5px rgb(103 58 183 / 10%);
    margin-bottom: 1px;
    padding: 1px 1px;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
}

.card:hover {
    box-shadow: 0 0 11px 5px rgba(70, 41, 121, 0.25);
    background: linear-gradient(-19deg, rgba(235, 174, 8, 0.95) 0px);
}

.profile .card-img-top {
    object-fit: cover;
    max-height: 330px;
    max-width: 400px;
    border-radius: 15% !important;
}
